extends layout.pug 

block number1
  if error
    p.error Please fill the input

  if success 
    p.success Good job

  if deleted 
    p.success Deleted

  form.form(action='/add' method='POST')
    input.input(type='text' placeholder='Add your tasks here...' name='text')
    button.btn Add
    a.tasks(href='/tasks') Tasks

  p.footer This app was created to fulfill Web Technology module requirements and does not represent an actual company or services