doctype html
html(lang="en")
  head
    title TO DO App
    link(rel='stylesheet', href='/static/style.css')
    link(rel='preconnect' href='https://fonts.gstatic.com')
    link(href='https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap' rel='stylesheet')
    link(rel='icon', href='https://cdn.dribbble.com/users/1063591/screenshots/5547137/lists_-_to_do_app_icon_4x.png?compress=1&resize=400x300')
  body 
    div.wrapper 
      h1.logo To Do App
      block number1

      