* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.wrapper {
    max-width: 800px;
    margin: 50px auto;
    color: #140c12;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.logo {
    text-align: center;
    font-size: 4rem;
    color: whitesmoke;

}

.container {
    display: inline ;
}

.footer {
    display: block;
    position: absolute;
    bottom: 0;
    left: 15%;
    font-size: 1.3rem;
    padding: 10px;
    color: black;

}


.form {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.input {
    display: inline-block;
    margin: 5px;
    padding: 10px;
    font-size: 1.5rem;
    width: 80%;
    border: solid 1px #3e1b0c;
    color: #74250e;
}

.btn,
.tasks {
    display: inline-block;
    margin: 5px;
    padding: 10px 20px;
    font-size: 1.5rem;
    width: 18%;
    border: none;
    background: #304960;
    color: #ebedef;
}

.tasks {
    text-decoration: none;
    text-align: center;
}



.btn:hover {
    background-color: #c4cfd4;
    color: #304960;
}

.tasks:hover {
    background-color: #c4cfd4;
    color: #304960;
}

:root {
    font-family: 'Lato', sans-serif;
}


.bottom {
    margin-top: 25px;
    /* border: 1px solid #1f1d08; */
    padding: 10px;
}

.text {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  font-size: 1.5rem; 
  border-bottom: 1px dotted black; 
}

.text:hover {
    background: #eee;
}

.error,
.success
{
    text-align: center;
    font-size: 1.4rem;
    border: solid 1px #ccc;
    padding: 10px;
    margin-bottom: 15px;
}

.error {
    background: red;
    color: whitesmoke;
}

.success {
    background: #f5f7e8;
    color: black;
}

.delete {
    text-decoration: none;
    font-size: 1rem;
    padding: 5px 10px;
    background: tomato;
    color: #fff;
}

.done,
.undone {
    text-decoration: none;
    color: black;
}

.done {

 text-decoration: line-through;
}

.undone {
 text-decoration: none;
}